@attribute [Route($"{RouteName.UpdateUser}/{{Id:int}}")]

@using NN.POS.Web.Validations.Users
@using Newtonsoft.Json
@using NN.POS.Model.Dtos.Users

@implements IDisposable

<MudContainer Class="p-2">
    <MudPaper Class="d-flex flex-row flex-grow-1 gap-4 mb-2" Elevation="0">
        <MudLink Href="@RouteName.Supplier">
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.ArrowBack"
                       Color="Color.Primary">
                Back
            </MudButton>
        </MudLink>
    </MudPaper>
    <MudCard>
        <MudForm Model="_userModel" Validation="_userValidator.ValidateValue" @ref="_form">
            <MudCardContent>
                <MudContainer Class="text-center">
                    <MudChip Color="Color.Primary" Class="p-4">
                        <MudText Typo="Typo.h6">Update User</MudText>
                    </MudChip>
                </MudContainer>
                <MudDivider Class="mt-2" />

                <MudGrid Spacing="5" Justify="Justify.Center">
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_userModel.Name"
                                      For="@(() => _userModel.Name)"
                                      Immediate="true"
                                      Label="Last name" />


                    </MudItem>
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_userModel.Email"
                                      For="@(() => _userModel.Email)"
                                      Immediate="true"
                                      InputType="InputType.Email"
                                      Label="Last name" />
                    </MudItem>
                </MudGrid>

                @if (!string.IsNullOrEmpty(_apiErrorMessages))
                {
                    <MudChip Class="d-flex justify-center" Color="Color.Error">
                        <p>@_apiErrorMessages</p>
                    </MudChip>
                }

            </MudCardContent>

            <MudCardActions>
                <MudGrid>
                    <MudItem sm="0" lg="9"></MudItem>
                    <MudItem sm="12" lg="3">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.AddCircle"
                                   OnClick="UpdateUserAsync">
                            Save
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudForm>
    </MudCard>
</MudContainer>

@code {

    [Parameter]
    public int Id { get; set; }

    private UpdateUserDto _userModel = new();

    readonly UpdateUserValidator _userValidator = new();

    MudForm? _form;

    string? _apiErrorMessages;

    protected override void OnInitialized()
    {
        NavbarStateService.SetExpend(RouteName.UsersManagement);
        NavbarStateService.SetActive(RouteName.Users);
        NavbarStateService.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavbarStateService.OnStateChange -= StateHasChanged;
    }

    private async Task UpdateUserAsync()
    {
        await _form?.Validate()!;
        if (_form.IsValid)
        {
            var jsonPayload = JsonConvert.SerializeObject(_userModel);
            var requestContent = new StringContent(jsonPayload, Encoding.UTF8, MediaTypeNames.Application.Json);
            var httpClient = HttpClientFactory.CreateClient(AppConstants.HttpClientName);
            var response = await httpClient.PutAsync($"{Setting.PrefixEndpoint}user/{Id}", requestContent);

            switch (response.StatusCode)
            {
                case HttpStatusCode.BadRequest:
                    {
                        var errors = await response.Content.ReadFromJsonAsync<ErrorResponse>();
                        _apiErrorMessages = $"{errors?.Message} [{errors?.Code}]";
                        break;
                    }
                case HttpStatusCode.Unauthorized:
                    {
                        NavigationManager.NavigateTo(RouteName.Login);
                        break;
                    }
                case HttpStatusCode.OK:
                    {
                        NavigationManager.NavigateTo(RouteName.Users);
                        break;
                    }
                default:
                    _apiErrorMessages = "Login Failed Please try after some time";
                    break;
            }

        }
    }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient(AppConstants.HttpClientName);
        var data = await httpClient.GetFromJsonAsync<UserDto>($"{Setting.PrefixEndpoint}user/{Id}");
        Id = data?.Id ?? 0;
        _userModel = new UpdateUserDto
            {
                Email = data?.Email,
                Name = data?.Name
            };
        Console.WriteLine(JsonConvert.SerializeObject(data));
    }

}
