@attribute [Route($"{RouteName.UpdateCustomer}/{{Id:int}}")]

@using static Model.Enums.BusinessPartnerEnum
@using Newtonsoft.Json
@using NN.POS.Model.Dtos.BusinessPartners
@using NN.POS.Web.Validations.Contacts

@implements IDisposable

<MudContainer Class="p-2">
    <MudPaper Class="d-flex flex-row flex-grow-1 gap-4 mb-2" Elevation="0">
        <MudLink Href="@RouteName.Customers">
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.ArrowBack"
                       Color="Color.Primary">
                Back
            </MudButton>
        </MudLink>
    </MudPaper>
    <MudCard>
        <MudForm Model="_customerModel" Validation="_customerValidator.ValidateValue" @ref="_form">
            <MudCardContent>
                <MudContainer Class="text-center">
                    <MudChip Color="Color.Primary" Class="p-4">
                        <MudText Typo="Typo.h6">Update Customer</MudText>
                    </MudChip>
                </MudContainer>
                <MudDivider Class="mt-2" />

                <MudGrid Spacing="5" Justify="Justify.Center">
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_customerModel.FirstName"
                                      For="@(() => _customerModel.FirstName)"
                                      Immediate="true"
                                      Label="Last name" />


                    </MudItem>
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_customerModel.LastName"
                                      For="@(() => _customerModel.LastName)"
                                      Immediate="true"
                                      Label="Last name" />
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5" Justify="Justify.Center">
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_customerModel.Email"
                                      For="@(() => _customerModel.Email)"
                                      Immediate="true"
                                      Label="Email" />


                    </MudItem>
                    <MudItem lg="5" sm="12">
                        <MudTextField @bind-Value="_customerModel.PhoneNumber"
                                      For="@(() => _customerModel.PhoneNumber)"
                                      Immediate="true"
                                      Label="Phone number" />
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5" Justify="Justify.Center">
                    <MudItem lg="5" sm="12">
                        <MudSelect T="BusinessType" @bind-Value="_customerModel.BusinessType" For="@(() => _customerModel.BusinessType)">
                            @foreach (BusinessType option in Enum.GetValues(typeof(BusinessType)))
                            {
                                <MudSelectItem T="BusinessType" Value="option" />
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem lg="5" sm="12">
                        <MudSelect @bind-Value="_customerModel.ContactType" For="@(() => _customerModel.ContactType)">
                            <MudSelectItem Value="ContactType.Customer" />
                        </MudSelect>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5" Justify="Justify.Center">
                    <MudItem lg="10" sm="12">
                        <MudTextField @bind-Value="_customerModel.Address"
                                      For="@(() => _customerModel.Address)"
                                      Immediate="true"
                                      Label="Address" />
                    </MudItem>
                </MudGrid>

                @if (!string.IsNullOrEmpty(_apiErrorMessages))
                {
                    <MudChip Class="d-flex justify-center" Color="Color.Error">
                        <p>@_apiErrorMessages</p>
                    </MudChip>
                }

            </MudCardContent>

            <MudCardActions>
                <MudGrid>
                    <MudItem sm="0" lg="9"></MudItem>
                    <MudItem sm="12" lg="3">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.AddCircle"
                                   OnClick="UpdateCustomerAsync">
                            Save
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudForm>
    </MudCard>
</MudContainer>

@code {

    [Parameter]
    public int Id { get; set; }

    private UpdateBusinessPartnerDto _customerModel = new();

    readonly UpdateCustomerValidator _customerValidator = new();

    MudForm? _form;

    string? _apiErrorMessages;

    protected override void OnInitialized()
    {
        NavbarStateService.SetExpend(RouteName.Contact);
        NavbarStateService.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavbarStateService.OnStateChange -= StateHasChanged;
    }

    private async Task UpdateCustomerAsync()
    {
        await _form?.Validate()!;
        if (_form.IsValid)
        {
            var jsonPayload = JsonConvert.SerializeObject(_customerModel);
            var requestContent = new StringContent(jsonPayload, Encoding.UTF8, MediaTypeNames.Application.Json);
            var httpClient = HttpClientFactory.CreateClient(AppConstants.HttpClientName);
            var response = await httpClient.PutAsync($"{Setting.PrefixEndpoint}BusinessPartner", requestContent);

            switch (response.StatusCode)
            {
                case HttpStatusCode.BadRequest:
                    {
                        var errors = await response.Content.ReadFromJsonAsync<ErrorResponse>();
                        _apiErrorMessages = $"{errors?.Message} [{errors?.Code}]";
                        break;
                    }
                case HttpStatusCode.Unauthorized:
                    {
                        NavigationManager.NavigateTo(RouteName.Login);
                        break;
                    }
                case HttpStatusCode.OK:
                    {
                        NavigationManager.NavigateTo(RouteName.Customers);
                        break;
                    }
                default:
                    _apiErrorMessages = "Login Failed Please try after some time";
                    break;
            }

        }
    }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient(AppConstants.HttpClientName);
        var data = await httpClient.GetFromJsonAsync<BusinessPartnerDto>($"{Setting.PrefixEndpoint}BusinessPartner/{Id}");

        _customerModel = new UpdateBusinessPartnerDto
            {
                Address = data?.Address,
                BusinessType = data?.BusinessType ?? BusinessType.None,
                LastName = data?.LastName,
                ContactType = data?.ContactType ?? ContactType.None,
                Email = data?.Email,
                FirstName = data?.FirstName,
                Id = data?.Id ?? 0,
                PhoneNumber = data?.PhoneNumber
            };
        Console.WriteLine(JsonConvert.SerializeObject(data));
    }

}
